<table summary="Note form fields">
	<tr>
		<td><%= f.hidden_field(:account_id) %></td>
	</tr>
	<tr>
		<th><%= f.label(:log) %></th>
		<td><%= f.text_area(:log, :size => "40x5") %></td>
	</tr>
</table>