<%= link_to("<<Back to List", {:action => 'index', :account_id => @account.id, :date => params[:date]}, :class => 'back-link') %>

<div class="notes edit">
	<h2>Update Note</h2>

	<%= form_for(:note, :url => {:action => 'update', :id => @note.id, :account_id => @account.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Update Note") %>
		</div>

	<% end %>
</div>