<% @page_title = "Notes" %>

<% params[:date] == 'date' ? back = 'Dates' : back = 'List' %>

<%= link_to("<<Back to " + back, {:action => 'index', :account_id => @account.id, :date => params[:date], :state => params[:state]}, :class => 'back-link') %>

<div class="notes new">
	<h2>Create Note</h2>

	<%= form_for(:note, :url => {:action => 'create', :account_id => @account.id, :date => params[:date], :state => params[:state]}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Create Note") %>
		</div>

	<% end %>
</div>