<% @page_title = "Notes" %>

<% if !params[:date] %>
<% params[:date] = 'Show All'%>
<% end %>

<%= link_to("<<Back to List", {:action => 'index', :account_id => @account.id, :date => params[:date]}, :class => 'back-link') %>

<div class="notes show">
	<h2>Show Note</h2>

	<table summary="Note detail view">
		<tr>
			<th>Note</th>
			<td><%= @note.note %></td>
		</tr>
		<tr>
			<th>Created At</th>
			<td><%=l @note.created_at %></td>
		</tr>
	</table>

</div>