<% @page_title = "Accounts" %>

<%= link_to("<< Back to List", {:action => 'index', :state => params[:state]}, :class => 'back-link') %>

<div class="accounts delete">
	<h2>Delete Account</h2>

	<%= form_for(:account, :url => account_path(@account.id, :state => params[:state]), :html => { :method => :delete}) do |f| %>

		<p>Are you sure you want to permanently delete this account?</p>

		<p class="reference-name"><%= @account.name %></p>

		<div class="form-buttons">
			<%= submit_tag("Delete Account") %>
		</div>

	<% end %>
</div>