<% @page_title = "Accounts" %>

<%= link_to("<<Back to List", {:action => 'index', :state => params[:state], :doctor => params[:doctor]}, :class => 'back-link') %>

<div class="accounts edit">
	<h2>Update Account</h2>

	<%= form_for(@account, :state => params[:state], :doctor => params[:doctor]) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Update Account") %>
		</div>

	<% end %>
</div>